/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.card { margin-bottom: 24px; }

.heading {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 16px 0;
}

.steps.ant-steps {
    margin: 16px auto;
    max-width: 750px;
}

.errorIcon {
    color: #ff4d4f;
    cursor: pointer;
    margin-right: 24px;
}

.errorIcon span.anticon { margin-right: 4px; }

.errorPopover :global .ant-popover-inner-content {
    max-height: 290px;
    min-width: 256px;
    overflow: auto;
    padding: 0;
}

.errorListItem {
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    list-style: none;
    padding: 8px 16px;
    transition: all 0.3s;
}

.errorListItem:hover { background: #e6f7ff; }

.errorListItem:last-child { border: 0; }

.errorListItem .errorIcon {
    color: #ff4d4f;
    float: left;
    margin-right: 12px;
    margin-top: 4px;
    padding-bottom: 22px;
}

.errorListItem .errorField {
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    margin-top: 2px;
}

.editable td {
    padding-bottom: 12.5px !important;
    padding-top: 13px !important;
}

.advancedForm + div { padding-bottom: 64px; }

.advancedForm :global .ant-form .ant-row:last-child .ant-form-item { margin-bottom: 24px; }

.advancedForm :global .ant-table td { transition: none !important; }

.optional {
    color: rgba(0, 0, 0, 0.45);
    font-style: normal;
}