/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.area_code {
    margin-right: 8px;
    max-width: 128px;
    width: 30%;
}

.phone_number {
    max-width: 312px;
    width: calc(70% - 8px);
}