/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.waterWave {
    display: inline-block;
    position: relative;
    transform-origin: left;
}

.waterWave .text {
    left: 0;
    position: absolute;
    text-align: center;
    top: 32px;
    width: 100%;
}

.waterWave .text span {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 22px;
}

.waterWave .text h4 {
    color: rgba(0, 0, 0, 0.85);
    font-size: 24px;
    line-height: 32px;
}

.waterWave .waterWaveCanvasWrapper {
    transform: scale(0.5);
    transform-origin: 0 0;
}