@namespace Client.Pages.Account.Center

<AntList Class="articleList" DataSource="List" Size="large" TItem="ListItemDataType">
	<ListItem NoFlex>
		<ListItemMeta Description="">
			<TitleTemplate>
				<a href="https://ng.ant.design">@context.Title</a>
			</TitleTemplate>
		</ListItemMeta>
		<ArticleListContent Data="@context" />
	</ListItem>
</AntList>