@namespace Client.Pages.Account.Settings
@page "/account/settings"

<GridContent>
	<div class="main__b__2">
		<Tabs Centered>
			<TabPane Tab="基本资料" Key="1">
				<BaseView />
			</TabPane>
			<TabPane Tab="安全设置" Key="2">
				<SecurityView />
			</TabPane>
			<TabPane Tab="绑定设置" Key="3">
				<BindingView />
			</TabPane>
			<TabPane Tab="消息通知" Key="4">
				<NotificationView />
			</TabPane>
		</Tabs>
	</div>
</GridContent>