/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.listContent .description {
    line-height: 22px;
    max-width: 720px;
}

.listContent .extra {
    color: rgba(0, 0, 0, 0.45);
    line-height: 22px;
    margin-top: 16px;
}

.listContent .extra > :global(.ant-avatar) {
    height: 20px;
    margin-right: 8px;
    position: relative;
    top: 1px;
    vertical-align: top;
    width: 20px;
}

.listContent .extra > em {
    color: rgba(0, 0, 0, 0.25);
    font-style: normal;
    margin-left: 16px;
}

@media screen and (max-width: 480px) {
    .listContent .extra > em {
        display: block;
        margin-left: 0;
        margin-top: 8px;
    }
}