/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.main__b__3 .ant-descriptions-row > td { padding-bottom: 8px; }

.main__b__3 .ant-page-header-heading-extra { flex-direction: column; }

.header-list { margin-bottom: 4px; }

.header-list .ant-descriptions-row > td { padding-bottom: 8px; }

.header-list .step-description {
    font-size: 14px;
    left: 38px;
    padding-top: 8px;
    position: relative;
    text-align: left;
}

.header-list .step-description > div {
    margin-bottom: 4px;
    margin-top: 8px;
}

.page-header .ant-page-header-heading-extra > * + * { margin-left: 8px; }

.page-header .more-info {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

@media screen and (max-width: 576px) {
    .step-description { left: 8px; }

    .page-header .ant-pro-page-header-wrap-row { flex-direction: column; }
}