/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.avatarHolder {
    margin-bottom: 24px;
    text-align: center;
}

.avatarHolder > img {
    height: 104px;
    margin-bottom: 20px;
    width: 104px;
}

.avatarHolder .name {
    color: rgba(0, 0, 0, 0.85);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 4px;
}

.detail p {
    margin-bottom: 8px;
    padding-left: 26px;
    position: relative;
}

.detail p:last-child { margin-bottom: 0; }

.detail i {
    height: 14px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 14px;
}

.tagsTitle,
.teamTitle {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    margin-bottom: 12px;
}

.tags .ant-tag { margin-bottom: 8px; }

.team .ant-avatar { margin-right: 12px; }

.team a {
    color: rgba(0, 0, 0, 0.85);
    display: block;
    margin-bottom: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s;
    white-space: nowrap;
    word-break: break-all;
}

.team a:hover { color: #1890ff; }

.tabsCard .ant-card-head { padding: 0 16px; }