/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.linkGroup {
    font-size: 0;
    padding: 20px 0 8px 24px;
}

.linkGroup > a {
    color: rgba(0, 0, 0, 0.85);
    display: inline-block;
    font-size: 14px;
    margin-bottom: 13px;
    width: 25%;
}

.linkGroup > a:hover { color: #1890ff; }