@namespace Client.Pages.Exception
@page "/exception/403"

<Result Status="403" SubTitle="Sorry, you are not authorized to access this page." Title="403">
	<Extra>
		<Button Type="primary">Back Home</Button>
	</Extra>
</Result>