/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.iconGroup span.anticon {
    color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
    margin-left: 16px;
    transition: color 0.32s;
}

.iconGroup span.anticon:hover { color: rgba(0, 0, 0, 0.85); }

.rankingList {
    list-style: none;
    margin: 25px 0 0;
    padding: 0;
}

.rankingList li {
    align-items: center;
    display: flex;
    margin-top: 16px;
    zoom: 1;
}

.rankingList li::before,
.rankingList li::after {
    content: ' ';
    display: table;
}

.rankingList li::after {
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.rankingList li span {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 22px;
}

.rankingList li .rankingItemNumber {
    background-color: #fafafa;
    border-radius: 20px;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-right: 16px;
    margin-top: 1.5px;
    text-align: center;
    width: 20px;
}

.rankingList li .rankingItemNumber.active {
    background-color: #314659;
    color: #fff;
}

.rankingList li .rankingItemTitle {
    flex: 1;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.salesExtra {
    display: inline-block;
    margin-right: 24px;
}

.salesExtra a {
    color: rgba(0, 0, 0, 0.85);
    margin-left: 24px;
}

.salesExtra a:hover { color: #1890ff; }

.salesExtra a.currentDate { color: #1890ff; }

.salesCard .salesBar { padding: 0 0 32px 32px; }

.salesCard .salesRank { padding: 0 32px 32px 72px; }

.salesCard :global .ant-tabs-bar,
.salesCard :global .ant-tabs-nav-wrap { padding-left: 16px; }

.salesCard :global .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab,
.salesCard :global .ant-tabs-nav-wrap .ant-tabs-nav .ant-tabs-tab {
    line-height: 24px;
    padding-bottom: 14px;
    padding-top: 16px;
}

.salesCard :global .ant-tabs-extra-content {
    line-height: 55px;
    padding-right: 24px;
}

.salesCard :global .ant-card-head { position: relative; }

.salesCard :global .ant-card-head-title { align-items: normal; }

.salesCardExtra { height: inherit; }

.salesTypeRadio {
    bottom: 12px;
    position: absolute;
    right: 54px;
}

.offlineCard :global .ant-tabs-ink-bar { bottom: auto; }

.offlineCard :global .ant-tabs-bar { border-bottom: none; }

.offlineCard :global .ant-tabs-nav-container-scrolling {
    padding-left: 40px;
    padding-right: 40px;
}

.offlineCard :global .ant-tabs-tab-prev-icon::before {
    left: 6px;
    position: relative;
}

.offlineCard :global .ant-tabs-tab-next-icon::before {
    position: relative;
    right: 6px;
}

.offlineCard :global .ant-tabs-tab-active h4 { color: #1890ff; }

.trendText {
    color: rgba(0, 0, 0, 0.85);
    margin-left: 8px;
}

@media screen and (max-width: 992px) {
    .salesExtra { display: none; }

    .rankingList li span:first-child { margin-right: 8px; }
}

@media screen and (max-width: 768px) {
    .rankingTitle { margin-top: 16px; }

    .salesCard .salesBar { padding: 16px; }
}

@media screen and (max-width: 576px) {
    .salesExtraWrap { display: none; }

    .salesCard :global .ant-tabs-content { padding-top: 30px; }
}