@namespace Client.Pages.Account.Settings
@page "/account/settings"

<GridContent>
	<div class="main__b__2">
		<Tabs Centered>
			<TabPane Tab="基本资料" Key="1">
				<BaseView />
			</TabPane>
		</Tabs>
	</div>
</GridContent>