/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.baseView {
    display: flex;
    padding-top: 12px;
}

.baseView :global .ant-legacy-form-item .ant-legacy-form-item-control-wrapper { width: 100%; }

.baseView .left {
    max-width: 448px;
    min-width: 224px;
}

.baseView .right__b__1 {
    flex: 1;
    padding-left: 104px;
}

.baseView .right__b__1 .avatar_title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 8px;
}

.baseView .right__b__1 .avatar {
    height: 144px;
    margin-bottom: 12px;
    overflow: hidden;
    width: 144px;
}

.baseView .right__b__1 .avatar img { width: 100%; }

.baseView .right__b__1 .button_view {
    text-align: center;
    width: 144px;
}

@media screen and (max-width: 1200px) {
    .baseView { flex-direction: column-reverse; }

    .baseView .right__b__1 {
        align-items: center;
        display: flex;
        flex-direction: column;
        max-width: 448px;
        padding: 20px;
    }

    .baseView .right__b__1 .avatar_title { display: none; }
}