@namespace Client
@inherits LayoutComponentBase

<div class="container__b__0">
	<div class="content">
		<div class="top">
			<div class="header">
				<a>
					<img alt="logo" class="logo" src="assets/logo.svg" />
					<span class="title">ALPDOJ</span>
				</a>
			</div>
		</div>
		@Body
	</div>
	<FooterView Copyright="飞姐" Links="Links" />
</div>

<style>
	.container__b__0 .content {
		display: flex;
		flex-direction: column;
		justify-content: center
	}
	.container__b__0 .top {
		margin-bottom: 2em;
	}
</style>

@code{

	public LinkItem[] Links { get; } =
		{
			new() {
				Key = "Ant Design Blazor",
				Title = "Ant Design Blazor",
				Href = "https://antblazor.com",
				BlankTarget = true
			},
			new() {
				Key = "Blazor",
				Title = "Blazor",
				Href = "https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor?WT.mc_id=DT-MVP-5003987",
				BlankTarget = true
			},
			new() {
				Key = "Repository",
				Title = (RenderFragment)(@<Icon Type="github" />),
				Href = "https://github.com/ALPDOJ/Frontend",
				BlankTarget = true
			}
		};

}