@namespace Client.Pages.Exception
@page "/exception/500"

<Result Status="500" SubTitle="Sorry, something went wrong." Title="500">
	<Extra>
		<Button Type="@ButtonType.Primary">Back Home</Button>
	</Extra>
</Result>