/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
/*此处为了解决样式冲突, 在pro样式的基础上包了一层main, 原始样式从.login开始*/
.main__b__0 {
    margin: 0 auto;
    width: 368px;
}

@media screen and (max-width: 576px) {
    .main__b__0 { width: 95%; }
}

.main__b__0 .login :global .ant-tabs .ant-tabs-bar {
    border-bottom: 0;
    margin-bottom: 24px;
    text-align: center;
}

.main__b__0 .login .getCaptcha {
    display: block;
    width: 100%;
}

.main__b__0 .login .icon { color: #1890ff; }

.main__b__0 .login .other {
    line-height: 22px;
    margin-top: 24px;
    text-align: left;
}

.main__b__0 .login .other .icon {
    color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
    font-size: 24px;
    margin-left: 16px;
    transition: color 0.3s;
    vertical-align: middle;
}

.main__b__0 .login .other .icon:hover { color: #1890ff; }

.main__b__0 .login .other .register { float: right; }

.main__b__0 .login .prefixIcon {
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
}

.main__b__0 .login .submit {
    margin-top: 24px;
    width: 100%;
}